.h1 {
    @include font-sizes(h1);
    font-weight: 700;
    line-height: 1.2;
}

.h2 {
    @include font-sizes(h2);
    font-weight: 600;
    line-height: 1.3;
}

.body {
    @include font-sizes(body);
    font-weight: 400;
    line-height: 1.5;
}
