$container-max-width: 1920px;

// Горизонтальные отступы на ключевых ширинах
$padding-1920: 96px;
$padding-1280: 64px;
$padding-768: 40px;
$padding-360: 40px;

// Брейкпоинты
$bp-1920: 1920px;
$bp-1280: 1280px;
$bp-768: 768px;
$bp-360: 360px;

// Шрифты
$font-sizes: (
    h1: (
        1920: 56px,
        1280: 40px,
        768: 28px,
        360: 28px,
    ),
    h2: (
        1920: 48px,
        1280: 32px,
        768: 24px,
        360: 24px,
    ),
    body-1: (
        1920: 21px,
        1280: 16px,
        768: 16px,
        360: 14px,
    ),
);
